# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

log.txt

parott
vide

# .parott/ directory is now stored globally, no longer needed in .gitignore
test_project/
packages/flutter_runtime_mcp/test_app

.env