name: vide_cli
description: Minimal Claude TUI
version: 0.1.0
publish_to: none

executables:
  vide: vide

environment:
  sdk: ^3.8.0

workspace:
  - packages/claude_sdk
  - packages/flutter_runtime_mcp
  - packages/moondream_api
  - packages/vide_core
  - packages/vide_server

dependencies:
  nocterm:
    git:
      url: https://github.com/Norbert515/nocterm.git
      ref: 4cfb68f2414c359b8209bf36ab1cda5ed4806f9b
  nocterm_riverpod:
    git:
      url: https://github.com/Norbert515/nocterm.git
      ref: 4cfb68f2414c359b8209bf36ab1cda5ed4806f9b
      path: packages/nocterm_riverpod
  claude_sdk: any
  flutter_runtime_mcp: any
  vide_core: any
  riverpod: ^2.5.1
  riverpod_annotation: ^2.3.5
  freezed_annotation: ^2.4.1
  json_annotation: ^4.9.0
  markdown: ^7.3.0
  yaml: ^3.1.2
  highlighting: ^0.9.0
  app_dirs: ^0.2.0
  uuid: ^4.5.2
  sentry: ^8.12.0
  http: ^1.2.0

dev_dependencies:
  build_runner: ^2.4.9
  freezed: ^2.5.2
  json_serializable: ^6.8.0
  melos: ^7.3.0
  riverpod_generator: ^2.4.0
  test: ^1.26.3

dependency_overrides:
  nocterm:
    git:
      url: https://github.com/Norbert515/nocterm.git
      ref: 4cfb68f2414c359b8209bf36ab1cda5ed4806f9b
  nocterm_riverpod:
    git:
      url: https://github.com/Norbert515/nocterm.git
      ref: 4cfb68f2414c359b8209bf36ab1cda5ed4806f9b
      path: packages/nocterm_riverpod

melos:
  name: vide_cli
  repository: https://github.com/Norbert515/vide_cli
  useRootAsPackage: true

  command:
    bootstrap:
      usePubspecOverrides: true

  ide:
    intellij: false

  scripts:
    test:
      run: dart test --exclude-tags e2e,integration
      exec:
        failFast: true
      packageFilters:
        dirExists: test
      description: Run tests in all packages (excluding e2e and integration tests)

    build_runner:
      run: dart run build_runner build --delete-conflicting-outputs
      exec:
        failFast: true
        orderDependents: true
      packageFilters:
        dependsOn: build_runner
      description: Run build_runner in packages that need code generation

    format:
      run: dart format .
      description: Format all Dart files

    format:check:
      run: dart format --set-exit-if-changed .
      exec:
        failFast: true
      description: Check formatting in all packages

    clean:
      run: |
        rm -rf .dart_tool
        rm -rf build
      exec:
        concurrency: 5
      description: Clean build artifacts

    pub:get:
      run: dart pub get
      description: Get dependencies in all packages

    pub:upgrade:
      run: dart pub upgrade
      description: Upgrade dependencies in all packages
