name: vide_cli
description: Minimal Claude TUI
version: 0.1.0
publish_to: none

executables:
  vide: vide

environment:
  sdk: ^3.8.0

dependencies:
  nocterm:
    git:
      url: https://github.com/Norbert515/nocterm.git
      ref: a3f4612b88f044ccdb6824dd5a03cc1ccc3c2307
  nocterm_riverpod:
    git:
      url: https://github.com/Norbert515/nocterm.git
      ref: a3f4612b88f044ccdb6824dd5a03cc1ccc3c2307
      path: packages/nocterm_riverpod
  claude_api:
    path: ./packages/claude_api
  flutter_runtime_mcp:
    path: ./packages/flutter_runtime_mcp
  vide_core:
    path: ./packages/vide_core
  riverpod: ^2.5.1
  riverpod_annotation: ^2.3.5
  freezed_annotation: ^2.4.1
  json_annotation: ^4.9.0
  markdown: ^7.3.0
  yaml: ^3.1.2
  highlighting: ^0.9.0
  app_dirs: ^0.2.0
  uuid: ^4.5.2
  sentry: ^8.12.0
  http: ^1.2.0

dev_dependencies:
  build_runner: ^2.4.9
  freezed: ^2.5.2
  json_serializable: ^6.8.0
  riverpod_generator: ^2.4.0
  test: ^1.26.3
